<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chuongmep.Revit.Api.RevitAPI" version="2024.1.0" targetFramework="net48" />
  <package id="Chuongmep.Revit.Api.RevitAPIUI" version="2024.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>